<div class="bg-transparent py-2 shadow-sm">
    <h1 class="text-2xl font-semibold text-center mb-2">Atualizar ou Modificar </h1>
</div>

<div class="flex p-4 max-w-screen-2xl mx-auto bg-transparent shadow-lg rounded-lg mt-6 mb-10">
    <div class="flex-col">

        @if(!selecionar){
        <div class="text-center">
            <label class="text-lg font-semibold mb-2">Cliente</label>

            <select [(ngModel)]="selecionarCliente" name="selecionarCliente" [disabled]="inputsDesabilitados"
                (change)="carregarPedidos(selecionarCliente?.cnpj || 0)"
                class="bg-yellow-50 text-center border p-2 rounded w-100 mb-2 text-lg">
                
                @for(cliente of clientes; track cliente.nome){
                <option [ngValue]="cliente" class="text-lg font-sans">{{cliente.nome}}</option>
                }
            </select>

            <label class="text-lg font-semibold mb-2">Orçamentos em aberto</label>
            <select [(ngModel)]="selecionarPedido" name="selecionarPedido" [disabled]="inputsDesabilitados"
                class="text-center border p-2 rounded w-100 mb-2 text-lg bg-yellow-50">

                @for(pedido of pedidos; track pedido.id){
                <option [ngValue]="pedido" class="text-lg font-sans">{{pedido.id}}</option>
                }
            </select>

        </div>
        }
    </div>


    @if(selecionarPedido){
    <div class="mt-5 px-4 flex flex-col items-center justify-center h-full">
        <a type="button" class="w-40 bg-gray-500 text-white px-4 py-2 rounded mb-4 hover:bg-gray-800"
            (click)="editar()">Editar Pedido</a>

        <a type="button" class="w-40 bg-green-500 text-white px-4 py-2 rounded hover:bg-green-800"
            (click)="atualizarStatus(selecionarPedido.id ?? 0)">Atualizar Status</a>
    </div>
    }

    <div class="flex flex-col justify-center">

        @if(mostrarStatus){
        <label class="font-semibold text-lg text-center py-2">Atualizar para:</label>
        <select [(ngModel)]="statusSelecionado" class="bg-yellow-50 py-2 border text-xl"
            [disabled]="inputsDesabilitados">
            <option [ngValue]="null">Selecione um cliente</option>
            <option [ngValue]="'ENCERRADO_REPROVADO'">ENCERRADO_REPROVADO</option>
            <option [ngValue]="'ENCERRADO_APROVADO'">ENCERRADO_APROVADO</option>
        </select>
        <button (click)="salvarStatus()"
            class="mt-3 w-30 bg-blue-500 text-white px-4 py-2 rounded mb-4 hover:bg-blue-800">Salvar Status</button>
        }

    </div>

    @if(mostrarPedido){
    <div class="ml-4 flex flex-col p-4 bg-transparent rounded-lg shadow-md">
        <label class="text-gray-700 text-base font-medium">
            Identificação do Cliente: <span class="font-semibold text-gray-900">{{ selecionarCliente?.nome }}</span>
        </label>
        <label class="text-gray-700 text-base font-medium">
            Número do pedido: <span class="font-semibold text-gray-900">{{ pedidoSelecionado.id }}</span>
        </label>
        <label class="text-gray-700 text-base font-medium">
            Status atual: <span class="font-semibold text-gray-900">{{ statusSelecionado }}</span>
        </label>

        <button class="mt-3 w-30 bg-gray-400 text-white px-4 py-2 rounded mb-4 hover:bg-gray-600"
            (click)="limparFormPedido()"> OK </button>
    </div>

    }

</div>


<!-- Editar Pedido -->
@if(editarPedido){
<div class="flex flex-col p-4 max-w-screen-2xl mx-auto bg-transparent shadow-lg rounded-lg mt-6 mb-10">
    <p class="text-center text-lg mb-2 font-semibold">Orçamento - {{ pedidoSelecionado.id }}</p>
    <p class="text-center text-lg mb-2 font-semibold">Cliente - {{ clienteSelecionado?.nome }}</p>
    <h1 class="text-2xl font-semibold text-center py-4">Editar</h1>

    <div class="py-4">
        <form #ngform="ngForm" (ngSubmit)="salvarEdicao()">
            <div class="grid grid-cols-3 gap-x-10 gap-y-6 justify-center text-center">

                <!-- IPI -->
                <div>
                    <label class="border text-lg">IPI: </label>
                    <input id="ipi" [(ngModel)]="pedidoSelecionado.ipi" name="ipi" [disabled]="!editarPedidoHabilitado"
                        class="shadow-md border rounded mb-2 px-3 py-2 text-lg w-20" type="number" />
                    <label class="font-semibold text-lg"> %</label>
                    @if(isCampoInvalido('ipi')){
                    <span class="text-red-500 text-sm">Campo obrigatório</span>
                    }
                </div>

                <!-- ST -->
                <div>
                    <label class="border text-lg">ST: </label>
                    <input id="st" [(ngModel)]="pedidoSelecionado.st" name="st" [disabled]="!editarPedidoHabilitado"
                        class="shadow-md border rounded mb-2 px-3 py-2 text-lg w-20" type="number" />
                    <label class="font-semibold text-lg"> %</label>
                    @if(isCampoInvalido('st')){
                    <span class="text-red-500 text-sm">Campo obrigatório</span>
                    }
                </div>


                <!-- MC -->
                <div>
                    <label class="border text-lg">MC: </label>
                    <input id="mc" [(ngModel)]="pedidoSelecionado.mc" name="mc" [disabled]="!editarPedidoHabilitado"
                        class="shadow-md border rounded mb-2 px-3 py-2 text-lg w-20" type="number" />
                    <label class="font-semibold text-lg"> %</label>
                    @if(isCampoInvalido('mc')){
                    <span class="text-red-500 text-sm">Campo obrigatório</span>
                    }
                </div>

                <!-- MC1 -->
                <div>
                    <label class="border text-lg">MC1: </label>
                    <input id="mc1" [(ngModel)]="pedidoSelecionado.mc1" name="mc1" [disabled]="!editarPedidoHabilitado"
                        class="shadow-md border rounded mb-2 px-3 py-2 text-lg w-20" type="number" />
                    <label class="font-semibold text-lg"> %</label>
                    @if(isCampoInvalido('mc1')){
                    <span class="text-red-500 text-sm">Campo obrigatório</span>
                    }
                </div>

                <!-- Frete -->
                <div>
                    <label class="border text-lg">Frete: </label>
                    <input id="frete" [(ngModel)]="pedidoSelecionado.frete" name="frete"
                        [disabled]="!editarPedidoHabilitado"
                        class="shadow-md border rounded mb-2 px-3 py-2 text-lg w-20" type="number" />
                    <label class="font-semibold text-lg"> %</label>
                    @if(isCampoInvalido('frete')){
                    <span class="text-red-500 text-sm">Campo obrigatório</span>
                    }
                </div>

                <!-- stvd -->
                <div>
                    <label class="border text-lg">STVD: </label>
                    <input id="stvd" [(ngModel)]="pedidoSelecionado.stvd" name="stvd"
                        [disabled]="!editarPedidoHabilitado"
                        class="shadow-md border rounded mb-2 px-3 py-2 text-lg w-20" type="number" />
                    <label class="font-semibold text-lg"> %</label>
                    @if(isCampoInvalido('stvd')){
                    <span class="text-red-500 text-sm">Campo obrigatório</span>
                    }
                </div>

                <!-- ICMS -->
                <div>
                    <label class="border text-lg">ICMS: </label>
                    <input id="icms" [(ngModel)]="pedidoSelecionado.icms" name="icms"
                        [disabled]="!editarPedidoHabilitado"
                        class="shadow-md border rounded mb-2 px-3 py-2 text-lg w-20" type="number" />
                    <label class="font-semibold text-lg"> %</label>
                    @if(isCampoInvalido('icms')){
                    <span class="text-red-500 text-sm">Campo obrigatório</span>
                    }
                </div>

                <!-- PIS -->
                <div>
                    <label class="border text-lg">PIS: </label>
                    <input id="pis" [(ngModel)]="pedidoSelecionado.pis" name="pis" [disabled]="!editarPedidoHabilitado"
                        class="shadow-md border rounded mb-2 px-3 py-2 text-lg w-20" type="number" />
                    <label class="font-semibold text-lg"> %</label>
                    @if(isCampoInvalido('pis')){
                    <span class="text-red-500 text-sm">Campo obrigatório</span>
                    }
                </div>

                <!-- COFINS -->
                <div>
                    <label class="border text-lg">COFINS: </label>
                    <input id="cofins" [(ngModel)]="pedidoSelecionado.cofins" name="cofins"
                        [disabled]="!editarPedidoHabilitado"
                        class="shadow-md border rounded mb-2 px-3 py-2 text-lg w-20" type="number" />
                    <label class="font-semibold text-lg"> %</label>
                    @if(isCampoInvalido('cofins')){
                    <span class="text-red-500 text-sm">Campo obrigatório</span>
                    }
                </div>

            </div>


            <div class="py-2 justify-center text-center mb-10">
                <!-- Observacoes -->
                <div class="px-2">
                    <label class="border text-lg">Observações: </label>
                    <textarea id="observacoes" [(ngModel)]="pedidoSelecionado.observacoes" name="observacoes"
                        [disabled]="!editarPedidoHabilitado"
                        class="shadow-md border border-gray-300 rounded mb-2 px-3 py-2 text-lg w-full" type="text">
            </textarea>
                </div>

                <!-- Condicoes Frete -->
                <div class="px-2">
                    <label class="border text-lg">Condições de Frete: </label>
                    <textarea id="condicaoFrete" [(ngModel)]="pedidoSelecionado.condicaoFrete" name="condicaoFrete"
                        [disabled]="!editarPedidoHabilitado"
                        class="shadow-md border rounded mb-2 px-3 py-2 text-lg w-full" type="text">
            </textarea>
                </div>
            </div>
            @if(editarPedidoHabilitado) {
            <button
                class="mt-3 w-60 bg-green-500 text-white text-lg py-2 rounded hover:bg-green-700 transition-colors mr-2"
                type="submit">Salvar</button>
            }

        </form>


        @if(!editarPedidoHabilitado){
        <button class="w-60 bg-blue-600 text-white text-lg py-2 rounded hover:bg-blue-700 transition-colors mr-2"
            (click)="habilitarEdicao()">Editar Pedido</button>
        }
        <div class="py-2">
            <h1 class="text-2xl font-semibold text-center py-4">Produtos:</h1>

            @if (listarItems) {
            <div class="overflow-x-auto rounded-lg shadow-md border border-transparent p-4">
                <h1 class="text-2xl font-semibold text-center mb-2">Produtos:</h1>
                <table class="min-w-full divide-y divide-gray-200 text-sm text-left">
                    <thead class="bg-transparent text-gray-700 uppercase tracking-wider">
                        <tr>
                            <th class="px-2 py-2">#</th>
                            <th class="px-4 py-2">Nome</th>
                            <th class="px-4 py-2">Qtde</th>
                            <th class="px-4 py-2">Custo</th>
                            <th class="px-4 py-2">IPI</th>
                            <th class="px-4 py-2">ST</th>
                            <th class="px-4 py-2">C. Unit</th>
                            <th class="px-4 py-2">C. Total</th>
                            <th class="px-4 py-2">MC</th>
                            <th class="px-4 py-2">MC1</th>
                            <th class="px-4 py-2">Frete</th>
                            <th class="px-4 py-2">V.TOT</th>
                            <th class="px-4 py-2">ST VD</th>
                            <th class="px-4 py-2">PRÇ F</th>
                            <th class="px-4 py-2">V.TOT F</th>
                        </tr>
                    </thead>
                    <tbody class="divide-y divide-gray-100">
                        @for (item of items; track item.id) {
                        <tr class="hover:bg-gray-50 transition-colors">
                            <td class="px-2 py-2 font-medium text-gray-800">{{ item.id }}</td>
                            <td class="px-4 py-2 font-medium text-gray-800">{{ item.nome }}</td>
                            <td class="px-4 py-2 text-gray-600">{{ item.quantidade }}</td>
                            <td class="px-4 py-2 text-green-600">{{ item.custo | currency:'BRL' }}</td>
                            <td class="px-4 py-2 text-green-600">{{ item.ipi | currency:'BRL' }}</td>
                            <td class="px-4 py-2 text-green-600">{{ item.st | currency:'BRL' }}</td>
                            <td class="px-4 py-2 text-green-600">{{ item.custoUnitario | currency:'BRL' }}</td>
                            <td class="px-4 py-2 text-green-600">{{ item.custoTotal | currency:'BRL' }}</td>
                            <td class="px-4 py-2 text-green-600">{{ item.mc | currency:'BRL' }}</td>
                            <td class="px-4 py-2 text-green-600">{{ item.mc1 | currency:'BRL' }}</td>
                            <td class="px-4 py-2 text-green-600">{{ item.frete | currency:'BRL' }}</td>
                            <td class="px-4 py-2 text-green-600">{{ item.vtot | currency:'BRL' }}</td>
                            <td class="px-4 py-2 text-green-600">{{ item.stvd | currency:'BRL' }}</td>
                            <td class="px-4 py-2 text-green-600">{{ item.prcf | currency:'BRL' }}</td>
                            <td class="px-4 py-2 text-green-600">{{ item.vtot | currency:'BRL' }}</td>
                            <td class="px-4 py-2 text-center">
                                @if(item.id != null){
                                <button
                                    class="text-red-500 hover:text-red-800 font-bold px-2 py-1 rounded transition-colors duration-200"
                                    (click)="deletarItem(item.id)" title="Remover item">
                                    ✕
                                </button>

                                <button
                                    class="text-red-500 hover:text-red-800 font-bold px-2 py-1 rounded transition-colors duration-200"
                                    (click)="carregarItemParaEdicao(item)" title="Remover item" >
                                    ✏️
                                </button>
                                }

                            </td>

                        </tr>
                        }
                    </tbody>
                </table>

            </div>
            <button
                class="mt-3 w-60 bg-green-500 text-white text-lg py-2 rounded hover:bg-green-700 transition-colors mr-2"
                (click)="adicionarItem()">Adicionar Item</button>
            }


            @if(criarItem){
            <div class="px-10 max-w-screen-xl mx-auto bg-transparent shadow rounded-lg mt-6 mb-10">
                <h1 class="text-xl font-semibold text-center mb-4">Adicionar item</h1>

                <form [formGroup]="itemForm" (ngSubmit)="salvarItem()" class="space-y-4">

                    <!-- Nome do produto -->
                    <div>
                        <label for="nome" class="block text-sm font-medium text-gray-700 mb-1">Nome do produto:</label>
                        <textarea id="nome" name="nome" formControlName="nome"
                            class="border border-transparent rounded px-3 py-2 w-full resize-none focus:outline-none focus:ring-2 focus:ring-blue-500"></textarea>
                        @if(isCampoInvalidoItemForm('nome')){
                        <span class="text-red-500 text-sm">Campo obrigatório</span>
                        }
                    </div>

                    <!-- Linha de campos agrupados -->
                    <div class="grid grid-cols-2 gap-4">

                        <!-- Fabricante -->
                        <div>
                            <label for="fabricante"
                                class="block text-sm font-medium text-gray-700 mb-1">Fabricante:</label>
                            <input id="fabricante" name="fabricante" formControlName="fabricante"
                                class="bg-transparent border border-gray-300 rounded px-3 py-2 w-full focus:outline-none focus:ring-2 focus:ring-blue-500" />

                        </div>

                        <!-- Quantidade -->
                        <div>
                            <label for="quantidade"
                                class="block text-sm font-medium text-gray-700 mb-1">Quantidade:</label>
                            <input id="quantidade" name="quantidade" formControlName="quantidade" type="number"
                                class="bg-transparent border border-gray-300 rounded px-3 py-2 w-full focus:outline-none focus:ring-2 focus:ring-blue-500" />
                            @if(isCampoInvalidoItemForm('quantidade')){
                            <span class="text-red-500 text-sm">Campo obrigatório</span>
                            }
                        </div>
                    </div>

                    <!-- Linha de campos agrupados -->
                    <div class="grid grid-cols-2 gap-4">

                        <!-- Tipo de medida -->
                        <div>
                            <label for="tipo" class="block text-sm font-medium text-gray-700 mb-1">Tipo de
                                medida:</label>
                            <select id="tipo" name="tipo" formControlName="tipo"
                                class="bg-yellow-50 border border-gray-300 rounded px-3 py-2 w-full bg-transparent focus:outline-none focus:ring-2 focus:ring-blue-500">
                                <option value="PC">PC</option>
                                <option value="M">M</option>
                            </select>
                            @if(isCampoInvalidoItemForm('tipo')){
                            <span class="text-red-500 text-sm">Campo obrigatório</span>
                            }
                        </div>

                        <!-- Custo unitário -->
                        <div>
                            <label for="custo" class="block text-sm font-medium text-gray-700 mb-1">Custo
                                unitário:</label>
                            <input id="custo" name="custo" formControlName="custo" type="number"
                                class="bg-transparent border border-gray-300 rounded px-3 py-2 w-full focus:outline-none focus:ring-2 focus:ring-blue-500" />

                            @if(isCampoInvalidoItemForm('custo')){
                            <span class="text-red-500 text-sm">Campo obrigatório</span>
                            }
                        </div>
                    </div>

                    <!-- Observações -->
                    <div>
                        <label for="obs" class="block text-sm font-medium text-gray-700 mb-1">Observações:</label>
                        <textarea id="obs" name="obs" formControlName="obs"
                            class="bg-transparent border border-gray-300 rounded px-3 py-2 w-full resize-none focus:outline-none focus:ring-2 focus:ring-blue-500"></textarea>
                    </div>

                    <!-- Botão -->
                    <div class="text-end">
                        <button type="submit"
                            class="w-60 bg-blue-600 text-white text-lg py-2 rounded hover:bg-blue-700 transition-colors mr-2">Adicionar
                            Item</button>


                        <button (click)="limparForumulario()"
                            class="w-60 bg-yellow-400 text-white text-lg py-2 rounded hover:bg-yellow-700 transition-colors mr-2">Limpar
                            Formulário</button>


                    </div>

                </form>
            </div>
            }


            @if(editarItem){
            <div class="px-10 max-w-screen-xl mx-auto bg-transparent shadow rounded-lg mt-6 mb-10">
                <h1 class="text-xl font-semibold text-center mb-4">Editar item</h1>

                <form [formGroup]="itemForm" (ngSubmit)="concluirEdicaoItem()" class="space-y-4">

                    <!-- Nome do produto -->
                    <div>
                        <label for="nome" class="block text-sm font-medium text-gray-700 mb-1">Nome do produto:</label>
                        <textarea id="nome" name="nome" formControlName="nome"
                            class="border rounded px-3 py-2 w-full resize-none focus:outline-none focus:ring-2 focus:ring-blue-500"></textarea>
                        @if(isCampoInvalidoItemForm('nome')){
                        <span class="text-red-500 text-sm">Campo obrigatório</span>
                        }
                    </div>

                    <!-- Linha de campos agrupados -->
                    <div class="grid grid-cols-2 gap-4">

                        <!-- Fabricante -->
                        <div>
                            <label for="fabricante"
                                class="block text-sm font-medium text-gray-700 mb-1">Fabricante:</label>
                            <input id="fabricante" name="fabricante" formControlName="fabricante"
                                class="border border-gray-300 rounded px-3 py-2 w-full focus:outline-none focus:ring-2 focus:ring-blue-500" />

                        </div>

                        <!-- Quantidade -->
                        <div>
                            <label for="quantidade"
                                class="block text-sm font-medium text-gray-700 mb-1">Quantidade:</label>
                            <input id="quantidade" name="quantidade" formControlName="quantidade" type="number"
                                class="border border-gray-300 rounded px-3 py-2 w-full focus:outline-none focus:ring-2 focus:ring-blue-500" />
                            @if(isCampoInvalidoItemForm('quantidade')){
                            <span class="text-red-500 text-sm">Campo obrigatório</span>
                            }
                        </div>
                    </div>

                    <!-- Linha de campos agrupados -->
                    <div class="grid grid-cols-2 gap-4">

                        <!-- Tipo de medida -->
                        <div>
                            <label for="tipo" class="block text-sm font-medium text-gray-700 mb-1">Tipo de
                                medida:</label>
                            <select id="tipo" name="tipo" formControlName="tipo"
                                class="border border-gray-300 rounded px-3 py-2 w-full focus:outline-none focus:ring-2 focus:ring-blue-500">
                                <option value="PC">PC</option>
                                <option value="M">M</option>
                            </select>
                            @if(isCampoInvalidoItemForm('tipo')){
                            <span class="text-red-500 text-sm">Campo obrigatório</span>
                            }
                        </div>

                        <!-- Custo unitário -->
                        <div>
                            <label for="custo" class="block text-sm font-medium text-gray-700 mb-1">Custo
                                unitário:</label>
                            <input id="custo" name="custo" formControlName="custo" type="number"
                                class="border border-gray-300 rounded px-3 py-2 w-full focus:outline-none focus:ring-2 focus:ring-blue-500" />

                            @if(isCampoInvalidoItemForm('custo')){
                            <span class="text-red-500 text-sm">Campo obrigatório</span>
                            }
                        </div>
                    </div>

                    <!-- Observações -->
                    <div>
                        <label for="obs" class="block text-sm font-medium text-gray-700 mb-1">Observações:</label>
                        <textarea id="obs" name="obs" formControlName="obs"
                            class="border border-gray-300 rounded px-3 py-2 w-full resize-none focus:outline-none focus:ring-2 focus:ring-blue-500"></textarea>
                    </div>

                    <!-- Botão -->
                    <div class="text-end">
                        <button type="submit"
                            class="w-60 bg-blue-600 text-white text-lg py-2 rounded hover:bg-blue-700 transition-colors mr-2">Concluir
                            Edição</button>


                        <button (click)="limparForumulario()"
                            class="w-60  text-white text-lg py-2 rounded hover:bg-yellow-700 transition-colors mr-2">Limpar
                            Formulário</button>


                    </div>

                </form>
            </div>
            }

        </div>
    </div>
</div>
}