<header class="bg-gradient-to-r from-gray-700 to-gray-900 text-white py-2">
    <div class="text-center">
        <h1 class="text-4xl font-bold">PedidosApp</h1>
    </div>
    <div>
        <hr class="mt-2">
    </div>
    <nav style="cursor: pointer" class="mt-2">
        <ul class="flex justify-center gap-6 text-white font-semibold">
            <li>
                <a class="flex flex-col items-center text-gray-500 hover:text-blue-600">
                    <mat-icon routerLink="home" fontIcon="home" class="text-2xl mb-1"></mat-icon>
                    Home
                </a>
            </li>
            <li>
                <a routerLink="clientes" class="flex flex-col items-center text-gray-500 hover:text-blue-600">
                    <mat-icon fontIcon="group" class="text-2xl mb-1"></mat-icon>
                    Clientes
                </a>
            </li>
            <li>
                <a routerLink="pedidos" class="flex flex-col items-center text-gray-500 hover:text-blue-600">
                    <mat-icon fontIcon="group" class="text-2xl mb-1"></mat-icon>
                    Orçamentos
                </a>
            </li>
            <li>
                <a routerLink="acompanhar" class="flex flex-col items-center text-gray-500 hover:text-blue-600">
                    <mat-icon fontIcon="arrow_upward" class="text-2xl mb-1"></mat-icon>
                    Atualizar
                </a>
            </li>
     
            <li>
                <a (click)="logout()" class="flex flex-col items-center text-gray-500 hover:text-blue-600">
                    <mat-icon fontIcon="remove_circle_outline" class="text-2xl mb-1"></mat-icon>
                    Logout
                </a>
            </li>

        </ul>
    </nav>
</header>

<router-outlet> </router-outlet>